.main {
    position: relative;
    color: #FFFFFF;
    overflow: hidden;
  }
  
  .main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../../../public/img/home.png), url(../../../../public/img/house.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
    animation: moveBackground 20s linear infinite; /* Add animation here */
  }
  
  @keyframes moveBackground {
    0% {
      background-position: center center;
    }
    50% {
      background-position: center top;
    }
    100% {
      background-position: center center;
    }
  }
  
  .submain {
    display: flex;
    flex-direction: column-reverse;
    padding: 200px 0 0 0;
  }
  
  .subsub {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 20px;
    flex: 1;
    background-color: #222222;
    height: 100%;
  }
  
  .subsubsub {
    flex: 1;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }
  
  .fixedMessageContainer {
    position: fixed;
    bottom: 170px;
    right: 20px;
    z-index: 999;
  }
  
  @media (min-width: 768px) {
    .submain {
      padding: 400px 0 0 0;
    }
    .subsub {
      padding: 40px 30px;
      gap: 23px;
    }
    .subsubsub {
      padding: 30px;
      gap: 15px;
    }
    .fixedMessageContainer {
      bottom: 190px;
    }
  }
  
  @media (min-width: 1024px) {
    .main {
    }
    .fixedMessageContainer {
      bottom: 20px;
    }
    .submain {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 100px 0 0 0;
    }
    .subsub {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 40px 70px;
      gap: 10px;
      flex: 1;
      background-color: #222222;
      height: 100%;
    }
    .subsubsub {
      flex: 1;
      padding: 40px 30px;
      background-color: white;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }
  }
  
  @media (min-width: 1280px) {
    .submain {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 150px 0 0 0;
    }
    .subsub {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 40px 70px;
      gap: 20px;
      flex: 1;
      background-color: #222222;
      height: 100%;
    }
    .subsubsub {
      flex: 1;
      padding: 40px 30px;
      background-color: white;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }
  }
  